@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
	--ver: "1.1936";
	--bg: rgb(22, 28, 36);
	--cardbg: rgb(33, 43, 54);
	--cardbg_alpha: rgba(33, 43, 54, 65%);
	--navbarbg: rgba(22, 28, 36, 0.8);
	--bg_alpha: rgba(145, 158, 171, 0.04);
	--accent: rgb(32, 101, 209);
	--accent_dark: rgb(32, 101, 209);
	--accent_hover: rgb(16, 57, 150);
	--accent_alpha: rgba(32, 101, 209, 0.16);
	--red: rgb(255, 72, 66);
	--green: rgb(0, 171, 85);
	--orange: rgb(255, 193, 7);
	--yellow: rgb(255, 225, 106);
	--white: rgb(255, 255, 255);
	--white_alpha: rgba(145, 158, 171, 0.08);
	--gray: rgb(145, 158, 171);
	--gray_darker: rgb(99, 115, 129);
	--black: rgba(0, 0, 0, 0.87);
	--plyr-color-main: var(--accent);
	--button-shadow: rgb(32 101 209 / 24%) 0px 8px 16px 0px;
	--shadow: rgb(0 0 0 / 20%) 0px 0px 2px 0px,
	rgb(0 0 0 / 12%) 0px 12px 24px -4px;
	--shadow-2: rgb(0 0 0 / 16%) 0px 8px 16px 0px;
	--shadow-3: 0 8px 16px 0 rgb(0 0 0 / 16%);
	--shadow_dropdown: 0 0 2px 0 rgb(0 0 0 / 24%),
	-20px 20px 40px -4px rgb(0 0 0 / 24%);
	--shadow_card: 0 0 2px 0 rgb(0 0 0 / 20%), 0 12px 24px -4px rgb(0 0 0 / 12%);
	--font: "Public Sans", sans-serif;
	--borderrad_lg: 16px;
	--borderrad_md: 8px;
	--borderrad_sm: 4px;
	--transition_main: 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	--transition_button: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	--headerimage: url("https://images6.alphacoders.com/106/thumb-1920-1061828.png");
}

html,
body,
span {
	font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
a,
td,
p,
code {
	font-family: var(--font) !important;
	color: inherit;
}

html,
body,
.product {
	background-color: var(--bg);
}

a {
	color: var(--accent);
	transition: color var(--transition_main);
}

a:hover {
	color: var(--accent_hover);
}

.header {
	background-color: var(--navbarbg);
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px) saturate(200%);
	-webkit-backdrop-filter: blur(10px) saturate(200%);
	box-shadow: var(--shadow-2);
	z-index: 999;
}

.slicknav_btn {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
	display: flex;
	justify-content: center;
	align-items: center;
}

.slicknav_nav {
	background-color: var(--cardbg);
	box-shadow: var(--shadow_dropdown);
	border-radius: var(--borderrad_md);
}

.slicknav_nav ul .dropdown li {
	background-color: var(--bg) !important;
	padding: 5px;
}

.slicknav_menu span[class*="arrow_carrot"] {
	display: none;
}

.slicknav_nav .slicknav_arrow {
	color: var(--white);
}

div[style*="#fc4103"] {
	background-color: var(--red) !important;
	border: none !important;
	padding: 3px 12px;
}

.header li a {
	color: var(--white) !important;
	transition: color var(--transition_main) !important;
}

.header li a:hover {
	color: var(--accent) !important;
}

.dropdown {
	background-color: var(--cardbg) !important;
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_dropdown);
}

.dropdown li {
	background-color: transparent !important;
}

center {
	position: relative;
	margin-top: 100px;
}

span[style*="color: red"] {
	color: var(--red) !important;
}

.hero__slider.owl-carousel .owl-nav button {
	background-color: transparent !important;
	margin-top: 0;
	transform: none !important;
	opacity: 0.5;
	transition: background-color var(--transition_button),
	transform var(--transition_button);
	border-radius: 50%;
	width: 42px !important;
	height: 42px !important;
	transform-origin: 0 !important;
}

.hero__slider.owl-carousel .owl-nav button:hover {
	background-color: var(--white_alpha) !important;
	opacity: 1;
	transform: scale(1.09) !important;
}

.hero__slider.owl-carousel .owl-nav button span {
	transform: none !important;
	width: 100%;
	height: 100%;
	font-size: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.owl-nav button[class*="owl-prev"] {
	left: calc(1140px - 100% - 66px) !important;
	width: 44px !important;
	height: 44px !important;
}

.owl-nav .arrow_carrot-left {
	width: 100%;
	height: 100%;
}

.owl-nav button[class*="owl-next"] {
	right: calc(1140px - 100% - 66px) !important;
}

.owl-nav button:after {
	display: none;
}

.hero {
	padding-top: 0;
}

.hero__items {
	border-radius: var(--borderrad_lg);
/* 	box-shadow: var(--shadow); */
	height: 450px !important;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 100%;
}

.hero__items .row {
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 100%;
}

.hero__items:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: inherit;
	background: linear-gradient(to bottom, transparent, var(--cardbg));
}

.owl-dot.active {
	background-color: var(--accent) !important;
	opacity: 1;
}

.owl-dot {
	background-color: var(--accent_dark) !important;
	opacity: 0.4;
}

.owl-dots {
	position: absolute;
	bottom: 0;
}

.hero__text .label {
	/*
	background-color: var(--cardbg);
	*/
	background-color: var(--cardbg_alpha);
	backdrop-filter: blur(10px);
	color: var(--white);
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow);
	font-weight: 700;
	padding: 7px 24px;
}

.hero__text h2 {
	text-shadow: none !important;
	font-weight: 800;
}

.hero__text p {
	text-shadow: none !important;
}

.hero__text span {
	background-color: var(--accent) !important;
	font-weight: 700;
	letter-spacing: normal !important;
	font-size: 0.875rem !important;
	box-shadow: var(--button-shadow);
	border-radius: var(--borderrad_md) !important;
	padding: 8px 22px !important;
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	text-transform: none !important;
}

.hero__text span:hover {
	background-color: var(--accent_hover) !important;
	box-shadow: none;
}

.section-title h4,
.section-title h5 {
	font-weight: 700;
}

.section-title h4:after,
.section-title h4:after,
.section-title h5:after,
.product__sidebar .section-title h5:after {
	background-color: var(--accent);
	border-radius: var(--borderrad_md);
}

.product__item__pic .ep,
.product__item__pic .comment,
.product__item__pic .view,
.anime__details__pic .comment,
.anime__details__pic .view {
	/*
	background-color: var(--cardbg);
	*/
	background-color: var(--cardbg_alpha);
	backdrop-filter: blur(10px);
	box-shadow: var(--shadow_card);
	border-radius: var(--borderrad_md);
	z-index: 1;
}

.product__item__pic {
	box-shadow: var(--shadow_card);
	border-radius: var(--borderrad_md);
	transition: transform var(--transition_main);
	cursor: pointer;
	height: 280px;
	width: 200px;
}

.product__item__pic:hover {
	transform: translateY(-5px);
	filter: none;
}

li[style*="#c90076"],
div[style*="#c90076"] {
	background-color: var(--accent) !important;
	border-radius: var(--borderrad_md) !important;
	box-shadow: var(--button-shadow);
	transition: var(--transition_button);
}

li[style*="#c90076"]:hover,
div[style*="#c90076"]:hover {
	background-color: var(--accent_hover) !important;
}

.product__item__text ul li,
.product__sidebar__comment__item__text ul li {
	border-radius: var(--borderrad_sm);
	background-color: var(--accent_alpha);
	color: var(--accent_dark);
	box-shadow: none;
}

.product__item__text ul li {
	background-color: var(--accent_alpha);
}

.product__item__text h5 a,
.product__sidebar__comment__item__text h5 a {
	transition: color var(--transition_main);
}

.product__item__text h5 a:hover,
.product__sidebar__comment__item__text h5 a:hover {
	color: var(--accent);
}

.product__sidebar__view__item {
	border-radius: var(--borderrad_lg);
	box-shadow: var(--shadow_card);
	transition: transform var(--transition_main);
}

.product__sidebar__view__item:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, transparent, var(--cardbg));
	border-radius: inherit;
	z-index: 0;
}

.product__sidebar__view__item:hover {
	filter: none;
	transform: translateY(-5px);
}

.product__sidebar__view__item .ep {
	background-color: var(--accent);
	font-weight: 700;
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_card);
}

.product__sidebar__view__item h5 a {
	text-shadow: none !important;
}

.product__sidebar__view__item h5 {
	z-index: 1;
}

.product__sidebar__comment__item__pic {
	border-radius: var(--borderrad_md);
	overflow: hidden;
	box-shadow: var(--shadow_card);
}

.product__sidebar__comment__item__pic img {
	height: 120px;
	width: 90px;
	object-fit: cover;
}

.product__sidebar__comment__item__pic:hover {
	filter: none;
	transform: none;
}

.product__sidebar__comment__item__text span {
	color: var(--white);
	opacity: 0.5;
}

.product__sidebar__comment {
	display: flex;
	flex-direction: column;
}

.product__page__title {
	border: none;
}

.breadcrumb__links a i {
	color: var(--accent);
}

div[style*="#f7347a"] {
	background-color: var(--accent) !important;
	border-radius: var(--borderrad_md);
	font-weight: 700;
}

div[style*="#5ac15b"] {
	background-color: var(--cardbg) !important;
	border-radius: var(--borderrad_md);
	font-weight: 700;
}

iframe {
	border-radius: var(--borderrad_lg);
	margin-top: 10px;
	box-shadow: var(--shadow);
}

.anime__details__episodes a {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_card);
	transition: background-color var(--transition_button);
}

.anime__details__episodes a:hover {
	background-color: var(--accent_hover);
	color: var(--white);
}

.anime__details__episodes a span[style*="red"] {
	color: var(--accent) !important;
}

div[style*="color: #FF4040"] {
	color: var(--red) !important;
}

.breadcrumb__links span,
.anime__details__title span,
.anime__details__text p,
.anime__details__widget ul li span,
.anime__details__rating span {
	color: var(--gray);
}

.anime__details__rating .rating i {
	color: var(--orange);
}

i[style*="color: #F00"] {
	color: var(--red) !important;
}

.anime__details__widget ul li:before {
	display: none;
}

.nice-select,
.product__page__title .product__page__filter .nice-select {
	background-color: var(--cardbg);
	color: var(--white);
	border: none;
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow);
}

.nice-select .current {
	color: var(--white) !important;
}

.nice-select:after,
.product__page__title .product__page__filter .nice-select:after {
	border-color: var(--white);
	transform: scale(1.3) rotate(45deg);
}

.nice-select.open:after,
.product__page__title .product__page__filter .nice-select.open:after {
	transform: scale(1.3) rotate(-135deg);
}

.nice-select .option {
	color: var(--gray);
	font-family: var(--font);
}

.nice-select .list,
.product__page__title .product__page__filter .nice-select .list {
	background-color: var(--cardbg);
	box-shadow: var(--shadow_card);
	border-radius: var(--borderrad_md);
	margin-top: 5px;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: var(--bg_alpha);
	color: var(--accent);
}

.anime__details__btn .follow-btn,
.anime__details__btn .watch-btn span {
	background-color: var(--accent);
	padding: 8px 22px;
	font-weight: 700;
	letter-spacing: normal;
	border-radius: var(--borderrad_md) !important;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
}

.anime__details__btn .follow-btn:hover,
.anime__details__btn .watch-btn span:hover {
	background-color: var(--accent_hover);
	box-shadow: none;
}

.anime__details__pic {
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_card);
}

.anime__review__item__text {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
}

.anime__review__item__pic:before {
	border-left: 15px solid var(--cardbg);
}

.anime__review__item__text h6 span {
	color: var(--gray);
}

.anime__review__item__text p {
	color: var(--white);
}

.anime__review__item__text a,
.anime__review__item__text a:hover,
.anime__review__item__text a:visited {
	color: var(--accent);
	transition: color var(--transition_main);
}

.anime__review__item__text a:hover,
.anime__review__item__text a:hover,
.anime__review__item__text a:visited {
	color: var(--accent_hover);
}

a[style*="color: red"] {
	color: var(--red) !important;
}

.anime__details__form form textarea {
	background-color: var(--cardbg);
	color: var(--white);
	border-radius: var(--borderrad_md);
}

.anime__details__form form textarea::placeholder {
	color: var(--gray) !important;
}

.anime__details__form form button {
	background-color: var(--accent);
	padding: 8px 22px;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	border-radius: var(--borderrad_md);
}

.anime__details__form form button:hover {
	background-color: var(--accent_hover);
	box-shadow: none;
}

img.profilkep {
	border-radius: 50% !important;
	width: 150px;
	height: 150px;
	box-shadow: var(--shadow);
}

table {
	border-radius: var(--borderrad_lg);
	overflow: hidden;
}

table tbody tr:nth-child(2n + 1) {
	background-color: var(--cardbg);
}

tr {
	background-color: var(--cardbg);
	background-color: var(--white_alpha);
	padding: 16px;
	border: none !important;
}

table td {
	padding: 15px;
}

td h2 {
	color: var(--accent) !important;
}

.aboutkep,
.profilmenukep,
.keresokep,
.normal-breadcrumb {
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: var(--borderrad_lg);
	box-shadow: var(--shadow_card);
	background-image: var(--headerimage) !important;
	background-size: cover;
	background-position: center;
}

.container .row .text-center {
	z-index: 1;
}

.aboutkep:after,
.profilmenukep:after,
.keresokep:after,
.normal-breadcrumb:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, transparent, var(--cardbg));
	z-index: 0;
	border-radius: inherit;
}

span[style*="#fcd93a"] {
	color: var(--yellow);
}

span[style*="background-color: red"] {
	background-color: var(--accent) !important;
	color: var(--white) !important;
	font-weight: 700;
	padding: 8px 22px !important;
	border-radius: var(--borderrad_md) !important;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	letter-spacing: normal;
	font-family: var(--font) !important;
	font-size: 16px;
}

span[style*="background-color: red"]:hover {
	background-color: var(--accent_hover) !important;
	box-shadow: none;
}

textarea[name*="custom_css"] {
	background-color: var(--cardbg);
	border: none;
	border-radius: var(--borderrad_md);
	color: var(--gray);
}

.site-btn,
.login__register .primary-btn {
	background-color: var(--accent);
	border-radius: var(--borderrad_md) !important;
	color: var(--white);
	padding: 8px 22px;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
}

.site-btn:hover,
.login__register .primary-btn:hover {
	background-color: var(--accent_hover);
	box-shadow: none;
}

.product__pagination a.current-page {
	color: var(--accent);
	border: none;
	background-color: var(--white_alpha);
	font-weight: 700;
}

.product__pagination a {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__pagination {
	display: flex;
}

.header__logo img {
	display: none;
}

.header__logo {
	display: flex;
	font-size: 24px;
	padding: 0;
}

.header .row {
	align-items: center;
}

.header__logo a:before {
	content: "Magyar";
	color: var(--white);
	display: inline-flex;
	font-family: var(--font);
}

.header__logo a:after {
	content: "Anime";
	font-weight: 700;
	color: var(--accent);
	font-family: var(--font);
}

.header__right a:hover {
	color: var(--accent);
}

.nice-input {
	background-color: var(--cardbg);
	border: none;
	color: var(--white);
}

.nice-input::placeholder {
	color: var(--gray);
}

.nice-submit {
	color: var(--white);
	background-color: var(--accent);
	border: none !important;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	font-weight: 700;
}

.nice-submit:hover {
	background-color: var(--accent_hover);
	box-shadow: none;
}

span[style*="#471280"] {
	color: var(--white);
	background-color: var(--accent) !important;
	padding: 6px 12px !important;
	border: none !important;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	font-weight: 700;
	font-size: 14px;
}

span[style*="#471280"]:hover {
	background-color: var(--accent_hover) !important;
	box-shadow: none;
}

input[type="checkbox"] {
	accent-color: var(--accent);
	border-radius: 50%;
	outline: none;
}

code {
	font-weight: 700;
	color: var(--accent);
}

img[alt="profilkep"] {
	border-radius: 50%;
}

.login__form:after {
	display: none;
}

.login__form form .input__item input {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
	color: var(--white);
	padding-left: 50px;
}

.login__form form .input__item input::placeholder {
	color: var(--gray);
}

.login__form form .input__item span {
	color: var(--gray);
}

.login__form form .input__item:before {
	display: none;
}

.primary-btn:hover {
	color: var(--white);
}

.primary-btn {
	letter-spacing: normal;
}

.episode_link:hover {
	color: var(--white);
}

.trending__product > .row:nth-child(2),
.popular__product > .row:nth-child(2),
.recent__product > .row:nth-child(2),
.live__product > .row:nth-child(2) {
	display: flex;
	width: 100%;
	margin: 0;
	gap: 45px;
	row-gap: 25px;
	justify-content: center;
}

.trending__product > .row:nth-child(2) > div[class*="col-lg-4"],
.popular__product > .row:nth-child(2) > div[class*="col-lg-4"],
.recent__product > .row:nth-child(2) > div[class*="col-lg-4"],
.live__product > .row:nth-child(2) > div[class*="col-lg-4"] {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	width: 100%;
	padding: 0;
	margin: 0;
}

.product__item {
	margin: 0;
}

/* ver 1.1 */
.header__logo {
	flex-direction: column;
	align-items: center;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
	background-color: var(--accent);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
	background-color: var(--accent);
}

.plyr__menu__container {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
}

.plyr__menu__container::after {
	border-top-color: var(--cardbg);
}

.plyr__menu__container .plyr__control > span {
	color: var(--white);
}

.plyr__menu__container .plyr__control--back::before {
	background-color: var(--accent);
	box-shadow: 0 1px 0 var(--accent);
}

.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
	background-color: var(--accent);
}

.plyr__badge {
	background-color: var(--bg);
	font-size: 12px;
	border-radius: var(--borderrad_sm);
}

.plyr__menu__container .plyr__control[role="menuitemradio"]::before {
	background-color: var(--bg);
}

.plyr__menu__container .plyr__control[role="menuitemradio"]:hover::before {
	background-color: var(--cardbg);
}

.plyr__tooltip::before {
	border-top: 4px solid var(--cardbg);
}

.plyr__tooltip {
	background-color: var(--cardbg);
	color: var(--white);
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_card);
}

/* ver 1.15 */
span[style*="color: green"] {
	color: var(--green) !important;
}

.hero {
	margin-top: 100px;
}

.aktiv_ppl,
.aktiv_ppl_mobil {
	/* RÉGI
	background-color: var(--red);
	color: var(--white); 
	*/
	/* ÚJ */
	background-color: rgba(24, 144, 255, 0.16);
	color: rgb(116, 202, 255);
	font-weight: 700;
	font-size: 0.75rem;
	border-radius: 6px;
	/* ÚJ VÉGE */
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row > img[alt*="avatar"] {
	border-radius: 50%;
	box-shadow: var(--shadow);
}

@media only screen and (max-width: 1200px) {

	.header__logo a:before,
	.header__logo a:after {
		font-size: 16px;
	}
}

@media only screen and (max-width: 991px) {
	center {
		margin-top: calc(100px + (140px / 2));
	}

	.header {
		height: 140px;
		align-items: start;
	}

	.header__logo a:before,
	.header__logo a:after {
		font-size: 24px;
	}

	.header__right {
		position: absolute;
		left: 50%;
		top: 100%;
		width: 100%;
		transform: translateX(-50%) translateY(25%);
		display: flex;
		justify-content: center;
	}

	.slicknav_btn {
		left: 50%;
		top: 100%;
		transform: translateX(-50%) translateY(100%);
	}

	.slicknav_nav {
		width: 60%;
		left: 50%;
		/* 		margin-top: 60px; */
		/* RÉGI */
		margin-top: 85px;
		/* ver 1.175 */
		transform: translateX(-50%);
	}

	div[style="display: block; width: 90%; text-align: center; padding: 20px;"] {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer > .container > .row {
		margin: 0;
	}
	td[style*="background-image"] {
		position: absolute;
		top: -25%;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 100px !important;
		height: 100px !important;
		border-radius: 50%!important;
		box-shadow: var(--shadow);
	}

	.product__page__content > .row {
		margin-top: 100px;
	}

	.product__page__content > center {
		margin-top: 0;
		margin-bottom: 25px;
	}
}

.aboutkep,
.profilmenukep,
.keresokep,
.normal-breadcrumb {
	margin-top: calc(100px + (140px / 5));
}

.product__page__content > .row > div[class*="col-lg-4"] > .product__item {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-right: 45px;
}

/* ver 1.16 */
@media only screen and (max-width: 991px) {

	.aboutkep,
	.profilmenukep,
	.keresokep,
	.normal-breadcrumb {
		margin-top: calc(100px + (140px / 2));
	}

	.trending__product,
	.breadcrumb-option {
		margin-top: 140px;
	}

	body > div > section.product.spad > div > div > div > div > div:nth-child(5) > div > table {
		margin: 70px auto !important;
	}

	td[style*="background-image"] {
		top: -100px;
	}

	.product__page__title .section-title,
	.product__page__title {
		margin-bottom: 0;
		padding: 10px;
	}

	.product__page__content > .row {
		margin-top: 50px;
	}

	/* remove the bullshit margin & padding to fix offscreen */
	.product__page__content .row {
		margin-left: auto;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

/* ver 1.17 */
/* support 21:9 */
@media only screen and (min-width: 2000px) {
	body > div > section.hero > div {
		max-width: 1900px;
	}

	body > div > section.hero {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	body > div > section.hero > div > div > div.owl-stage-outer > div {
		width: calc(18240px + 5880px) !important;
	}

	body > div > section.product.spad > div {
		max-width: 1900px;
	}

	body > div > header > div {
		max-width: 1900px !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.aboutkep,
	.profilmenukep,
	.keresokep,
	.normal-breadcrumb {
		width: 90%;
	}

	td[style*="background-image"] {
		top: -170px;
		position: absolute;
		border-radius: 50%;
		width: 150px;
		height: 150px !important;
		left: 50%;
		transform: translateX(-50%);
	}

	body > div > section.product.spad > div > div > div > div > div:nth-child(5) > div {
		margin-top: 150px;
	}

	body > div > header > div > div.row > div.col-lg-8 {
		max-width: 100%;
		left: 25%;
		transform: translateX(-25%);
	}

	.breadcrumb-option {
		margin-top: 100px;
	}

	.trending__product > .row:nth-child(2),
	.popular__product > .row:nth-child(2),
	.recent__product > .row:nth-child(2),
	.live__product > .row:nth-child(2) {
		justify-content: start;
	}

	body > div > section.product.spad > div {
		margin-top: 100px;
	}
}

#form3 > div {
	display: flex;
	gap: 5px;
	justify-content: center;
}

#form3 > div > br {
	display: none;
}

body > div > section.product.spad > div > div > div > div > div:nth-child(1) > div > div > div > table {
	overflow: auto;
}

/* ver 1.175 */
#form3 > div {
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	iframe {
		height: 200px;
	}

	body[style*="margin: 0; width: 100%; color: #ffffff"] {
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.play_button {
		position: absolute;
		width: 30px;
		height: 30px;
		margin-left: -1.5px;
		margin-top: -1.5px;
		transform: translate(-50%, -50%);
	}
}

.breadcrumb__links {
	margin-top: 70px;
}

/* ver 1.18 */
@media only screen and (max-width: 410px) {

	.trending__product > .row:nth-child(2),
	.popular__product > .row:nth-child(2),
	.recent__product > .row:nth-child(2),
	.live__product > .row:nth-child(2) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
		justify-content: space-between !important;
		grid-gap: 20px 12px !important;
	}

	.trending__product > .row:nth-child(2) > div[class*="col-lg-4"],
	.popular__product > .row:nth-child(2) > div[class*="col-lg-4"],
	.recent__product > .row:nth-child(2) > div[class*="col-lg-4"],
	.live__product > .row:nth-child(2) > div[class*="col-lg-4"] {
		max-width: 160px;
	}

	.product__item__pic {
		width: 100%;
		height: 180px;
	}

	.product__item__pic .comment {
		bottom: 20%;
	}

	.product__item__pic .view {
		left: 10px;
		right: inherit;
	}

	.product__item__pic .view[style*="bottom: 35px"] {
		bottom: 77% !important;
	}

	.product__item {
		width: 100%;
	}

	.trending__product {
		margin-top: 0;
	}

	body > div > section > div > div > div > div.product__page__content > div.product__page__title > div > div.col-lg-4.col-md-4.col-sm-6 {
		position: relative !important;
		top: 0 !important;
		right: 0 !important;
	}

	td[style*="background-image"] {
		width: 125px !important;
		height: 125px !important;
		top: -210px;
	}
}

.product__item__text h5 a {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trending__product > .row:nth-child(2),
.popular__product > .row:nth-child(2),
.recent__product > .row:nth-child(2),
.live__product > .row:nth-child(2) {
	display: grid;
	grid-template-columns: repeat(auto-fill, 185px);
	grid-gap: 25px 30px;
	justify-content: space-around;
}

.product__item__pic {
	width: 100%;
	height: 265px;
}

body > div > section > div > div > div > div > div.row > div > div > div > center {
	margin-top: 0;
}

body > div > .product.spad {
	margin-top: 100px;
}

/*
body > div > section.product.spad > div > div > div > div > div:nth-child(5) > div > table > tbody > tr:nth-child(1) > td:nth-child(1){
	width: 0!important;
	padding: 0!important;
}
*/
img[alt="profilkep"] {
	position: absolute;
	top: -170px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	box-shadow: var(--shadow);
}

body > div > section.product.spad > div > div > div > div > div:nth-child(5) {
	margin-top: 150px;
}

body > div > section.product.spad > div > div > div > div > div:nth-child(5) > div > table {
	margin-top: 0 !important;
}

body > div > section.product.spad > div > div > div > div > div:nth-child(17) {
	display: grid;
	grid-template-columns: repeat(auto-fill, 185px);
	grid-gap: 25px 30px;
	justify-content: space-around;
	padding-left: 30px;
}

body > div > section.product.spad > div > div > div > div > div:nth-child(17) > div {
	max-width: 100%;
	padding: 0;
}

.product__pagination {
	flex-wrap: wrap;
}
/* ver 1.185 */
body > div > section.product.spad > div > div > div > div.trending__product > div:nth-child(2) > div,
body > div > section.product.spad > div > div > div > div.popular__product > div:nth-child(2) > div,
body > div > section.product.spad > div > div > div > div.recent__product > div:nth-child(2) > div,
body > div > section.product.spad > div > div > div > div.live__product > div:nth-child(2) > div {
	max-width: 100%;
	padding: 0;
	/* ha ki van kapcsolva a hozzászólások menü ne nyomja össze */
}
.beallitasok_form input[type=submit] {
	background-color: var(--accent) !important;
	color: var(--white) !important;
	font-weight: 700;
	padding: 8px 22px !important;
	border-radius: var(--borderrad_md) !important;
	box-shadow: var(--button-shadow);
	transition: background-color var(--transition_button),
	box-shadow var(--transition_button);
	letter-spacing: normal;
	font-family: var(--font) !important;
	font-size: 16px;
}
.beallitasok_form input[type=submit]:hover {
	box-shadow: none;
	background-color: var(--accent_hover) !important;
}
body > div > footer > div.container > div:nth-child(2) > div:nth-child(1) {
	display: none;
	/* footer paypal logo display */
}
body > div > footer > div.container > div:nth-child(2) {
	flex-direction: column;
	align-items: center;
	gap: 15px;
	text-align: center;
	/* footer szöveg */
}
/* ver 1.186 */
table {
	overflow: auto;
}
body > div > section.product.spad > div > div > div > div > div.row > div > table > tbody > tr > td:first-child {
	border-bottom-left-radius: var(--borderrad_lg);
	border-top-left-radius: var(--borderrad_lg);
}
body > div > section.product.spad > div > div > div > div > div.row > div > table > tbody > tr:nth-child(1) > td:nth-child(1) {
	overflow: hidden;
	border-top-left-radius: var(--borderrad_lg);
	border-bottom-left-radius: var(--borderrad_lg);
}
body > div > section.product.spad > div > div > div > div > div.row > div > table > tbody > tr:nth-child(2) > td:last-child {
	border-top-right-radius: var(--borderrad_lg);
}
body > div > section.product.spad > div > div > div > div > div.row > div > table > tbody > tr > td:nth-child(3) {
	overflow: hidden;
	border-top-right-radius: var(--borderrad_lg);
	border-bottom-right-radius: var(--borderrad_lg);
}

table td i:hover > img {
	border: none;
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
	box-shadow: var(--shadow_card);
	top: 50%;
	transform: translateY(-50%);
	left: -135px;
	width: 125px;
}
table {
	border-spacing: 2px;
	border-collapse: separate;
}
/* ver 1.187 */
.gomb_elozo,
.gomb_kovetkezo {
	border-radius: var(--borderrad_md);
	font-weight: 600;
}
.gomb_elozo {
	background-color: var(--accent_alpha);
}
.gomb_kovetkezo {
	background-color: var(--accent);
}
.gomb_kovetkezo:hover a {
	color: var(--white)!important;
}
body > div:nth-child(2) > section > div > div > div.col-lg-12 > div.anime__video__player > center > div:nth-child(4) > div {
	border-radius: var(--borderrad_sm);
	background-color: var(--accent)!important;
	font-weight: 600;
	width: 25%!important;
	cursor: pointer;
	transition: background-color var(--transition_button);
}
body > div:nth-child(2) > section > div > div > div.col-lg-12 > div.anime__video__player > center > div:nth-child(4) > div:hover {
	background-color: var(--accent_hover)!important;
}
body > div:nth-child(2) > section > div > div > div.col-lg-12 > div.anime__video__player > center > div:nth-child(4) {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
span[style*="#34eb5c"] {
	color: var(--green)!important;
}
span[style*="#0ecee3"] {
	color: var(--accent)!important;
}
#preloder {
	background-color: rgba(22, 28, 36, 0.8);
	backdrop-filter: blur(50px)
}
.loader {
	border-color: var(--accent)!important;
	border-left-color: transparent!important;
}
.breadcrumb-option {
	padding-top: 0;
}
.jobb_sav_overflow > div > div > span,
.jobb_sav_overflow > div > div > span > span {
	opacity: 1;
}
.jobb_sav_overflow {
	background-color: var(--cardbg);
	border-radius: var(--borderrad_md);
	padding: 1rem;
	box-shadow: var(--shadow_card);
}
.jobb_sav_overflow::-webkit-scrollbar {
	background: none;
	width: 0.4rem;
}
.jobb_sav_overflow::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: var(--borderrad_lg);
}
.jobb_sav_overflow > div > div > h5 > a {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.comment_szekcio::-webkit-scrollbar {
	background: none;
	width: 0.4rem;
}
.comment_szekcio::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: var(--borderrad_lg);
}
.anime__review__item__text {
	max-width: 93%;
}
.jobb_sav_overflow > div > div > span {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
/* ver 1.188 */
@media only screen and (max-width: 460px) {
	.trending__product > .row:nth-child(2),
	.popular__product > .row:nth-child(2),
	.recent__product > .row:nth-child(2),
	.live__product > .row:nth-child(2) {
		grid-template-columns: repeat(2, 1fr);
	}
	body > div > section.product.spad > div > div > div > div > div:nth-child(17) {
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		padding: 0;
		margin: 0;
	}
}
img[alt="profilkep"] {
	position: relative;
	transform: none;
	top: inherit;
	left: inherit;
	width: 300px;
}
table > tbody > tr > td {
	border-radius: var(--borderrad_md)!important;
}
.row2 > div[class*="col-lg-3"] {
	width: 100%;
}
.row2 > div[class*="col-lg-4-ep"] {
	padding: 0;
}
.row2 > div[class*="col-lg-4-ep"] > div > div[class*="product__item__pic"] {
	width: 100%!important;
}
body > div > section > div > section > div > div > div.row {
	display: grid;
	grid-template-columns: repeat(auto-fill, 185px);
	grid-gap: 25px 30px;
}
body > div > section > div > section > div > div > div.row > div[class*="col-lg-4"] {
	width: 100%;
	padding: 0;
}
p > a[style*="color: orange"] {
	color: var(--orange)!important;
}
#preloder {
	-webkit-backdrop-filter: blur(50px);
}
body > div > section.product.spad > div > div > div > div > div:nth-child(9),
body > div > section.product.spad > div > div > div > div > div:nth-child(13) {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 25px 30px;
	justify-content: space-between;
}
.row2 > div[class*="col-lg-4-ep"] {
	width: 100%;
}
body > div > section > div > section > div > div > div.row > div {
	width: 100%;
}
@media only screen and (max-width: 770px) {
	body > div > section.product.spad > div > div > div > div > div:nth-child(9),
	body > div > section.product.spad > div > div > div > div > div:nth-child(13) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}
.form-select {
	background-color: var(--cardbg);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23919eab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	color: var(--gray);
	border: none;
}
.accordion {
	--bs-accordion-bg: var(--cardbg);
	--bs-accordion-color: var(--white);
	--bs-accordion-border-color: var(--navbarbg);
	--bs-accordion-btn-color: var(--gray);
	--bs-accordion-active-bg: var(--bg_alpha);
	--bs-accordion-active-color: var(--accent);
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(145, 158, 171)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.accordion h3 {
	color: var(--bs-accordion-btn-color);
}
.jobb_sav_overflow > div > div > h5 > a {
	overflow: hidden;
}
span[style*="#e0e327"] {
	color: var(--yellow)!important;
}
span[style*="#eb4034"] {
	color: var(--red)!important;
}
.anime_ep_uj {
	background-color: var(--accent)!important;
}
body > div > section.product.spad > div > div > div > div > div:nth-child(13) {
	grid-template-columns: repeat(auto-fill, 200px);
	grid-gap: 25px 15px;
}
#clockdiv > div {
	background-color: var(--cardbg);
}
#clockdiv div > span {
	background-color: var(--accent_alpha);
}
/* ver 1.189 */
body > div > section.product.spad > div > div > div > div > div:nth-child(6) {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 15px;
	justify-content: space-between;
}
body > div > section.product.spad > div > div > div > div > div:nth-child(10) {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: space-between;
	grid-gap: 15px;
}
/* ver 1.19 */
.logo_link {
	height: inherit;
}
.logo_first,
.logo_second {
	display: none;
}
/* ver 1.191 */
#uptotop a {
	background-color: var(--accent);
	border: none !important;
	transition: background-color var(--transition_button);
	border-radius: 50%;
}
#uptotop a:hover {
	background-color: var(--accent_hover);
}
#uptotop a::after {
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' width='14' fill='%23fff'%3E%3Cpath d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'/%3E%3C/svg%3E");
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: 0;
}
#uptotop a > svg {
	display: none;
}
.alert-danger {
	--bs-alert-bg: rgba(183, 33, 54, .5);
	--bs-alert-color: #ffd0d0;
	--bs-alert-border-color: #B72136;
}
.gomb_elozo,
.gomb_kovetkezo {
	height: auto!important;
	width: auto!important;
	padding: 6px 16px;
}
.gomb_elozo:hover > a {
	color: var(--white);
}
body > div:nth-child(2) > section > div > div > div.col-lg-12 > div.anime__video__player > center > div:nth-child(1) > div:nth-child(2) {
	display: none;
}
body > div:nth-child(2) > section > div > div > div.col-lg-12 > div.anime__video__player > center > div:nth-child(1) {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: 70%;
	width: 100%;
}
/* ver 1.192 */
.product__item__pic.set-bg.kijon {
	overflow: hidden;
}
.product__item__pic.set-bg.kijon > img {
	height: 100%;
	object-fit: cover;
}
.view2 > img {
	display: none;
}
.view2::before {
	content: "1080P";
	background-color: var(--accent);
	padding: 5px;
	border-radius: var(--borderrad_md);
	box-shadow: 0 0 2px 0 rgb(0 0 0 / 40%), 0 2px 24px -4px rgb(0 0 0 / 52%);
	font-size: 14px;
	font-weight: 500;
	color: var(--white);
}
a[style*="background-color: red"] {
	background-color: transparent!important;
}
/* ver 1.193 */
.header__menu ul li.active a {
	color: var(--red)!important;
	background: none;
}
.form-control {
	background-color: var(--cardbg);
	border: none;
}
input::placeholder {
	color: var(--gray)!important;
}
.form-control {
	color: var(--gray)!important;
}
.form-control:focus {
	background-color: var(--cardbg);
}
button.btn {
	background-color: var(--accent);
	border: none;
}
button.btn:hover {
	background-color: var(--accent_hover);
}
button.btn:focus,
button.btn:active {
	background-color: var(--accent_dark);
}
span[style*="rgb(71, 18, 128)"] {
	background-color: var(--accent)!important;
	box-shadow: var(--button-shadow);
}
span[style*="#471280"],
span[style*="rgb(71, 18, 128)"] {
	padding: 10px!important;
	border-radius: var(--borderrad_md)!important;
}
.form-control-color {
	display: none;
}
html {
	color-scheme: dark;
}
/* ver 1.1935 */
.header > .container > .row > div:nth-child(3) > div > a:nth-child(2) > div {
	width: unset;
	background-color: rgba(145, 158, 171, 0.06);
	border-radius: var(--borderrad_md);
	border: 1px solid hsl(214deg 24% 17%);
	padding: 0.25rem 0.5rem;
	transition: var(--transition_button);
	font-weight: 600;
}
.header > .container > .row > div:nth-child(3) > div > a:nth-child(2) > div:hover {
	background-color: rgba(145, 158, 171, 0.08);
	border-color: hsl(214deg 24% 20%);
}
.header {
	box-shadow: none;
	border-bottom: 1px solid hsl(214deg 24% 15%);
	backdrop-filter: blur(10px);
}
body > div > header > div > div.row > div:nth-child(3) {
	padding: 0;
}
.header__right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.header__right a {
	margin: 0;
}
@media (min-width: 992px) {
	.logo_link {
		width: unset;
	}
}
@media only screen and (max-width: 991px) {
	.header {
		height: 155px;
	}
	.slicknav_btn {
		margin-top: 1.5rem;
	}
}
body > div > section.product.spad > div > div > div > div > div:nth-child(6) {
	display: unset;
}
/* ver 1.1936 */
tr:has(td>img[alt*="profilkep"]) {
	background-color: transparent;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min-content;
	left: 50%;
	margin-top: -150px;
}
tr:has(td>img[alt*="profilkep"]) > td:nth-child(2) {
	display: none;
}
tr:has(td>img[alt*="profilkep"]) > td:last-child > code {
	font-size: 1.5rem;
	color: var(--white);
}

/* footer */
.footer {
	background-color: var(--bg_alpha);
	min-height: 200px;
	height: inherit!important;
	padding: 0;
	border-top: 1px solid hsl(214deg 24% 15%);
}

.footer p {
	color: var(--gray);
}

.footer__nav ul li a {
	display: none;
}

.footer__nav {
	color: var(--gray);
}

.footer__nav:after {
	content: "Material " var(--ver)" - by: davdi1337";
	display: flex;
	justify-content: center;
}

.page-up a {
	background-color: var(--accent);
	transition: background-color var(--transition_button);
}

.page-up a:hover {
	background-color: var(--accent_hover);
	color: var(--white);
}
/*
NINCS MÁR
---------
#uptotop span {
	background-color: var(--accent);
	border: none !important;
	transition: background-color var(--transition_button);
}

#uptotop a {
	color: var(--white);
}

#uptotop span {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' width='14' fill='%23fff'%3E%3Cpath d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'/%3E%3C/svg%3E");
	border-radius: 50%;
	box-shadow: var(--shadow-2);
}

#uptotop a:hover span {
	background-color: var(--accent_hover);
}
*/
