@import url("https://davdi1337.github.io/materialblue-ma/main.css");
:root {
  --accent: rgb(0, 171, 85);
  --accent_dark: rgb(0, 171, 85);
  --accent_hover: rgb(0 133 66);
  --button-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
}
