@import url("https://davdi1337.github.io/materialblue-ma/main.css");
:root {
  --accent: rgb(255, 48, 48);
  --accent_dark: rgb(255, 48, 48);
  --accent_hover: rgb(183, 24, 51);
  --accent_alpha: rgba(255, 48, 48, 0.16);
  --button-shadow: rgb(255 48 48 / 24%) 0px 8px 16px 0px;
}
